<h3>Make a bet for this round.</h3>
<p>
  <%= @player_name%> has $<%= @player_money %>.
</p>
<form action="/set_bet_amount" method="post">
  <input name="bet_amount" style="width: 50px" type="text">
  <br>
  <input value="Make Bet" class="btn btn-info" type="submit">
</form>